.nav-link{ 
    color:black; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.5vw;
}

.navbar-nav .nav-link.active{
    color: #459cab;
}

