<section style="background-color: #F2F4F6;" id="dashboard_2">
  <div class="row bg-dark" style="height: 60px;">
      <div class="col" style="align-content: right;align-self: center;">
        <button (click)="backClicked()" class="btn btn-primary" style="float: right; width: 150px;margin-right: 20px;">Return</button>
      </div>    
  </div>
  <div class="row"><div id="vis1" style="justify-content: center;"></div></div>
  <div class="row"><div id="vis2" style="display: flex; justify-content: center"></div></div>
  <div class="row"><div id="vis3" style="display: flex; justify-content: center"></div></div>
</section>