<section id="home">
  <div class="row" style="width:1500px;background-color: #4fb9cb;padding: 20px;margin: 0 auto;">
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">Visualization Heading 1</h5>
        <div class="card-body">
          <h5 class="card-title" style="color:#4fb9cb;">Special title</h5>
          <div id="vizContainer" style="display: flex; justify-content: center"></div>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">Visualization Heading 2</h5>
        <div class="card-body">
          <h5 class="card-title" style="color:#4fb9cb;">Special title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="width:1500px;background-color: #4fb9cb; padding-left: 20px;padding-right: 20px;padding-bottom: 20px;padding-top: none;margin: 0 auto;">
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">Visualization Heading 3</h5>
        <div class="card-body">
          <h5 class="card-title" style="color:#4fb9cb;">Special title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div></div>
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">Visualization Heading 4</h5>
        <div class="card-body">
          <h5 class="card-title" style="color:#4fb9cb;">Special title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="width:1500px;background-color: #4fb9cb;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;padding-top: none;margin: 0 auto;">
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">Visualization Heading 5</h5>
        <div class="card-body">
          <h5 class="card-title" style="color:#4fb9cb;">Special title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">Visualization Heading 6</h5>
        <div class="card-body">
          <h5 class="card-title" style="color:#4fb9cb;">Special title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
</section>



